body{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

main{
    margin: auto;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
}

.btn{
    color: black;
}

